<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.dao.mapper.UmpAuthorizeMapper">

    <select id="selectPermissionByUserId" resultType="java.lang.String">
        SELECT
            CONCAT(
                menu.permission_,
                '.',
                um.permission_
            ) permission
        FROM
            sys_menu menu
        JOIN sys_user_menu um ON um.menu_id = menu.id_
        WHERE
            length(menu.permission_) > 0
        AND um.user_id = #{userId}
        UNION
            SELECT
                CONCAT(
                    menu.permission_,
                    '.',
                    rm.permission_
                ) permission
            FROM
                sys_menu menu
            JOIN sys_role_menu rm ON rm.menu_id = menu.id_
            JOIN sys_user_role ur ON ur.role_id = rm.role_id
            WHERE
                length(menu.permission_) > 0
            AND ur.user_id = #{userId}
    </select>

</mapper>
