<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.mapper.UmpAuthorizeMapper">

    <select id="queryPermissionByUserId" resultType="java.lang.String">
        select CONCAT(menu.permission_,'.',um.permission_) permission
        from sys_menu menu
        join sys_user_menu um on um.menu_id=menu.id_
        where length(menu.permission_)>0 and um.user_id=#{userId}
        union
        select CONCAT(menu.permission_,'.',rm.permission_) permission
        from sys_menu menu
        join sys_role_menu rm on rm.menu_id=menu.id_
        join sys_user_role ur on ur.role_id=rm.role_id
        where length(menu.permission_)>0 and ur.user_id=#{userId}
    </select>

</mapper>
