<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.generator.mapper.SysEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jww.ump.generator.entity.SysEvent">
    <result column="id_" property="id" />
    <result column="enable_" property="enable" />
    <result column="remark_" property="remark" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="title_" property="title" />
        <result column="request_uri" property="requestUri" />
        <result column="parameters_" property="parameters" />
        <result column="method_" property="method" />
        <result column="client_host" property="clientHost" />
        <result column="user_agent" property="userAgent" />
        <result column="status_" property="status" />
    </resultMap>

</mapper>
