<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.generator.mapper.SysMsgConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jww.ump.generator.entity.SysMsgConfig">
    <result column="id_" property="id" />
    <result column="enable_" property="enable" />
    <result column="remark_" property="remark" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="sms_plat_url" property="smsPlatUrl" />
        <result column="sms_plat_account" property="smsPlatAccount" />
        <result column="sms_plat_password" property="smsPlatPassword" />
        <result column="send_phone" property="sendPhone" />
        <result column="sender_name" property="senderName" />
        <result column="order_is_send" property="orderIsSend" />
        <result column="pay_is_send" property="payIsSend" />
        <result column="send_goods_is_send" property="sendGoodsIsSend" />
        <result column="regist_is_send" property="registIsSend" />
        <result column="advice_goods_is_send" property="adviceGoodsIsSend" />
    </resultMap>

</mapper>
