<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.generator.mapper.SysNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jww.ump.generator.entity.SysNotice">
    <result column="id_" property="id" />
    <result column="remark_" property="remark" />
    <result column="enable_" property="enable" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="notice_title" property="noticeTitle" />
        <result column="notice_type" property="noticeType" />
        <result column="send_time" property="sendTime" />
        <result column="info_sources" property="infoSources" />
        <result column="sources_url" property="sourcesUrl" />
        <result column="content_" property="content" />
        <result column="reader_times" property="readerTimes" />
        <result column="status_" property="status" />
    </resultMap>

</mapper>
