<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jww.ump.generator.mapper.TaskFireLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jww.ump.generator.entity.TaskFireLog">
    <result column="id_" property="id" />
        <result column="group_name" property="groupName" />
        <result column="task_name" property="taskName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status_" property="status" />
        <result column="server_host" property="serverHost" />
        <result column="server_duid" property="serverDuid" />
        <result column="fire_info" property="fireInfo" />
    </resultMap>

</mapper>
